<html>
  <body>
    <h1>hello world from <%= node['fqdn'] %></h1>
     <h2>Platform:- <%= node['platform'] %></h2>
     <h2>Version:- <%= node['platform_version'] %></h2>
     <h2> ip6address:- <%= node['ip6address'] %></h2>
     <h2> chef package version:- <%= node['chef_packages']['chef']['version'] %></h2>
    <h2>This is deployed from chef</h2>
    <h2> learn_chef_httpd state:- <%= node['learn_chef_httpd']['testattr'] %></h2>
    <h1> Webserver details:- </h1>
    <h2> IP:- <%= node['webserver']['IP'] %></h2>
    <h2> Port:- <%= node['webserver']['Port'] %></h2>
    <h2>Apache ports:  <%= node['apache2']['listen_ports'] %> </h2>
    <h2>Databag Item:Stage :- <%= ['some_other_key'] %> </h2>

  </body>
</html>
